.container {
  max-width: 1170px;
  margin: 0 auto;
}

.course-link {
  text-decoration: none;
  color: inherit;
}

.cards {
  display: flex;
  justify-content: space-evenly;
  margin-top: 50px;
}

.card {
  color: #fff;
  font-family: "DM Serif Display", serif;
  height: 224px;
  width: 240px;
  border-radius: 16px;
  padding: 24px 16px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card-pink {
  background: linear-gradient(321.69deg, #ff6188 0%, #ffb199 100%);
}

.card-blue {
  background: linear-gradient(321.69deg, #4481eb 0%, #04befe 100%);
}

.card-title {
  font-size: 26px;
  font-weight: 400;
  text-align: left;
}

.btn {
  position: relative;
  top: 0;
  text-decoration: none;
  color: #ff6188;
  font-family: "Open Sans", sans-serif;
  background: #ffffff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.07);
  border-radius: 8px;
  min-width: 101px;
  padding: 12px 8px;
  text-align: center;
  align-self: flex-end;
  font-weight: 600;
  transition: all 0.3s;
}

.btn:hover {
  top: -4px;
}

.btn-pink {
  color: #ff6188;
}
.btn-blue {
  color: #4481eb;
}
